* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "DejaVu Sans";
  src: local("DejaVu Sans"),
    local("Dejavu Sans"),
    url("DejaVuSans.ttf") format("truetype");
}
body {
  font-family: "DejaVu Sans", sans-serif;
  background-color: #fff;
  color: #000;
  display: grid;
  grid: "t  pn s"
  "pw b  pe"
  "ps ps ps"
  "c  c  c";
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto auto auto 1fr;
  height: 100vh;
}
header, section {
  padding: 3px;
}
#title {
  grid-area: t;
}
#score {
  grid-area: s;
}
#board {
  grid-area: b;
  justify-self: center;
  background-color: #6f66;
  min-height: 10em;
  min-width: 10em;
  width: 100%;
  height: 100%;
  position: relative;
}
#background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  overflow: hidden;
}
#stock {
  position: absolute;
  bottom: calc(50% - 1.2em);
  right: 50%;
  border: 1px dashed black;
  margin-right: 1px;
}
#discard {
  position: absolute;
  bottom: calc(50% - 1.2em);
  left: 50%;
  border: 1px dashed black;
}
#stock.card, #discard.card {
  min-height: 1.2em;
}
#players {
  grid-area: ps;
  justify-self: center;
}
#playere {
  grid-area: pe;
  align-self: top;
}
#playern {
  grid-area: pn;
  justify-self: center;
}
#playerw {
  grid-area: pw;
  align-self: top;
}
.back, .visible {
  font-size: 2rem;
  background-color: white;
  color: #66f;
}
.visible {
  color: black;
}
.red {
  color: red;
}
span[draggable=true]:active {
  border: 1px solid #090;
}
section h2, h1 {
  margin-bottom: 2px;
  margin-top: 5px;
}
#playere div, #playerw div {
  line-height: 1.3;
  max-width: calc(6 * 1.2em);
}
#board h3 {
  display: inline;
}
.box {
  border: 1px dotted black;
  display: inline-block;
}
#public, #private {
  min-height:2.4em;
}
#chat {
  grid-area: c;
  height: 100%;
  position: relative;
}
#chat h2 {
  height: 1.2em;
}
form {
  position: absolute;
  bottom: 3px;
  width: 99%;
}
form input[type=submit] {
  margin-left: 2px;
}
#messages {
  list-style-type: none;
  /*todo: fix that max-height: calc(100% - 3.6em);*/
  max-height: calc(10 * 1.2em);
  overflow: auto;
}
#messages li:nth-child(odd) {
  background-color: #eee;
}
