body {
  font-family: "Liberation Sans", Arial, sans-serif;
}
#grid {
  display: grid;
  grid: "t  pn s"
  "pw b  pe"
  "ps ps ps"
  "c  c  c";
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto 1fr auto auto;
}
#title {
  grid-area: t;
}
#score {
  grid-area: s;
}
#board {
  grid-area: b;
  justify-self: center;
  background-color: #6f66;
  min-height: 10em;
  min-width: 10em;
  width: 100%;
  height: 100%;
  position: relative;
}
#background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  overflow: hidden;
}
#stock {
  position: absolute;
  bottom: calc(50% - 1.2em);
  right: 50%;
  border: 1px dashed black;
  margin-right: 1px;
}
#discard {
  position: absolute;
  bottom: calc(50% - 1.2em);
  left: 50%;
  border: 1px dashed black;
}
#stock.card, #discard.card {
  min-height: 1.2em;
}
#chat {
  grid-area: c;
}
#players {
  grid-area: ps;
  justify-self: center;
}
#playere {
  grid-area: pe;
  align-self: top;
}
#playern {
  grid-area: pn;
  justify-self: center;
}
#playerw {
  grid-area: pw;
  align-self: top;
}
.back {
  font-size: 200%;
  background-color: white;
  color: #66f;
}
.visible {
  font-size: 200%;
  background-color: white;
  color: black;
}
.red {
  color: red;
}
section h2, h1 {
  margin-bottom: 2px;
  margin-top: 5px;
}
#playere div, #playerw div {
  line-height: 1.3;
}
#board h3 {
  display: inline;
}
.box {
  border: 1px dotted black;
  display: inline-block;
}
#public, #private {
  min-height:2.4em;
}
